In [4]:
import requests
import csv

# URL of the online JSON data
url = 'https://raw.githubusercontent.com/Papagoat/brain-assessment/main/restaurant_data.json'

# Send a GET request to fetch the JSON data
response = requests.get(url)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Parse the JSON data
    data = response.json()

    # Extract the required fields and place into extracted_data array
    extracted_data = []
    # Iterate through each element in the array that contains 20 restaurants 
    for index in range(0, len(data)):
        # Iterate through each restaurant and extract the data required
        for restaurant in data[index]['restaurants']:
            extracted_data.append([
            restaurant["restaurant"]["id"],
            restaurant["restaurant"]["name"],
            restaurant["restaurant"]["location"]["country_id"],
            restaurant["restaurant"]["location"]["city"],
            restaurant["restaurant"]["user_rating"]["votes"],
            float(restaurant["restaurant"]["user_rating"]["aggregate_rating"]),
            restaurant["restaurant"]["cuisines"]
        ])

    # Define the filename for the CSV file
    filename = 'restaurants.csv'

    # Write the extracted data into a CSV file
    with open(filename, 'w', newline='', encoding='utf-8') as csvfile:
        csv_writer = csv.writer(csvfile)
        # Write the header
        csv_writer.writerow(['Restaurant Id', 'Restaurant Name', 'Country', 'City', 'User Rating Votes', 'User Aggregate Rating', 'Cuisines'])
        # Write the extracted data
        csv_writer.writerows(extracted_data)

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

PermissionError: [Errno 13] Permission denied: 'restaurants.csv'

In [2]:
import pandas as pd

df = pd.read_csv("restaurants.csv")
df.head()

,Restaurant Id,Restaurant Name,Country,City,User Rating Votes,User Aggregate Rating,Cuisines
0,18649486,The Drunken Botanist,1,Gurgaon,4765,4.4,"Continental, Italian, North Indian, Chinese"
1,308322,Hauz Khas Social,1,New Delhi,13627,4.6,"Continental, American, Asian, North Indian, Ch..."
2,18856789,AIR- An Ivory Region,1,New Delhi,1819,4.1,"North Indian, Chinese, Continental, Asian"
3,307374,AMA Cafe,1,New Delhi,3252,4.4,"Cafe, Juices"
4,18238278,Tamasha,1,New Delhi,8112,4.4,"Finger Food, North Indian, Continental, Italian"